.vscode/
__pycache__/
venv/
.venv/
jrl.egg-info/
dist/
build/
notes_to_self
notes
napkin.py
scripts/*.pdf
*.ipynb_checkpoints
*.gv
*.svg
*.npy
scripts/warp_test.py
.pytest_cache/
venv-test/
thirdparty/rerun-loader-python-example-urdf/