[tool.poetry]
name = "jkinpylib"
version = "0.0.9"
description = "Jeremy's Robotics Library"
authors = ["Jeremy Morgan <jsmorgan6@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
klampt = "0.9.0"
numpy = "^1.24.2"
torch = "^2.0.1"
more-itertools = "^9.0.0"
roma = "^1.3.1"
tqdm = "^4.64.1"
qpth = {git = "https://github.com/locuslab/qpth"}

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
pylint = "^2.16.2"
pyqt5 = "^5.15.9"
kinpy = "^0.2.0"
pandas = "^1.5.3"
matplotlib = "^3.7.0"
tabulate = "^0.9.0"
python-fcl = "^0.7.0.4"
numpy-stl = "^3.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120